<h3>{{ leyenda }}</h3>

<div class="input-group">
    <span class="input-group-btn">
    <button class="btn btn-secondary" type="button" (click)='incrementar(-5)'>
        <span class="mdi mdi-minus"></span>
    </button>
    </span>
    <input type="text" class="form-control" name="porcentaje" [(ngModel)]="porcentaje">
    <span class="input-group-btn">
      <button class="btn btn-secondary" type="button" (click)='incrementar(+5)'>
          <span class="mdi mdi-plus"></span>
    </button>
    </span>
</div>